.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
  background-color: #e5ffe8;
  margin:0;
  font-family: Roboto;
}

h1 {
    margin:0;
}

header {
  background-color: black;
  margin:0;
  height:80px;
  color: #FFFFFF;
}
.he1 {
  text-align: center;
  font-size:20pt;
}

.he2 {
 padding:0pt;
}

.QR{
  color: #000000;
  background-color: #91FF9E;
  border-color: #000000;
  border-radius: 0% 0% 10% 10%;
  height:100%;
  object-fit:contain;
}

.header-title {
  text-align:center;
  line-height:80px;
}
.scan-label{
  margin: 4px;
}


.header-extended {
  display:flex;
  align-items:center;
  justify-content:center;
  margin: 0px;
  padding-top: 0px;
  object-fit:contain;
}


.scannerCam {
  display:flex;
  align-items:center;
  justify-content: center;
}
.Row {
  display:flex;
  align-items:center;
  justify-content: center;
  padding-top: 10px;
}

.SecondRow {
  display:flex;
  align-items:center;
  justify-content:center;
  background-color: #91FF9E;
  padding-top: 10px;
}

img {
  height: 100px;
  margin: 2px;
}

p{
  text-align: center;
}

.header-extended {
  background-color: #000000;
  color:white;
}
.header-extended > * {
  padding: 10px;

}

.speaker  {
  width:100px;
  object-fit:contain;
  padding-left:25px;
}


.speakerSmall  {
  width:25px;
  height: 75px;
  object-fit:contain;
}

.item {
  width: 100px;
  text-align: center;
  padding: 0 10 0 10;
}

.item > img {
    width: 100%;
    object-fit: cover;
    border-radius:19px;
}
.hidden {
  display:none;
}
.item > h5 {
  margin:10px;
}

.topRow {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}


md-outlined-text-field {
  width: 75%;
  background-color: #FFFFFF;
}

md-list {
  background-color: #e5ffe8 ;
  margin:auto;
}

[slot="trailing-supporting-text"] {
    width: 120px;
    text-align: end;
    font-size: 12pt;
}


.dot {
  position:relative;
  left: 46%;
  border: 0.5mm solid black;
  bottom: 17px;
  height: 30px;
  width: 30px;
  margin: auto;
  background-color: #e5ffe8;
  border-radius: 50%;
  display: inline-block;
}


.resume {
  display: table;
  margin: 15px auto;
}


.back {
  position: fixed;
  top: 20px;
  left: 10px;
  color:white;
}

.back-bottom {
  background-color: #FFFFFF;
  border: 2px solid #dfdfdf;
  position:fixed;
  left: 5%;
  bottom: 5%;
  margin-left: 10px;
  width: 40%;
  margin-bottom: 10px;
  height: 40px;
  display:flex;
  gap:10px;
  justify-content: center;
  align-items: center;
}


.forward-bottom {
  background-color: #008D1C;
  border: 2px solid #dfdfdf;
  color: #FFFFFF;
  position:fixed;
  right: 5%;
  bottom: 5%;
  margin-right: 10px;
  width: 40%;
  margin-bottom: 10px;
  height: 40px;
  display:flex;
  gap:10px;
  justify-content: center;
  align-items: center;
}

.top-right {
  position: fixed;
  right: 5%;
  top: 0;
}